<h3>Recent activity</h3>
    {% for message in room_messages %}
        <div>
            <a href="{% url 'room' message.room.id %}">{{message.room.name}}</a>
            <small>@{{message.user}} {{message.created_at|timesince}} ago </small>
            <small>Replied to "{{message.room}}" </small>
            
            <p>{{message}}</p>

            {% if request.user == message.user %}
            <a href="{% url 'delete_message' message.id %}">Delete</a>
            {% endif %}
            <hr />
        </div>
    {% endfor %}